version: 2

updates:
  - package-ecosystem: github-actions
    directory: "."
    schedule:
      interval: quarterly

  - package-ecosystem: cargo
    directory: "cooler-firmware"
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directory: "diagnostic-cli"
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directory: "peripheral-controller-firmware"
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directory: "protocol"
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"

  - package-ecosystem: cargo
    directory: "telemetry-module-firmware"
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
