version: 2

updates:
  - package-ecosystem: github-actions
    directory: "."
    schedule:
      interval: quarterly

  - package-ecosystem: cargo
    directories:
      - cooler-firmware
      - extraction-airflow-sensor-firmware
      - peripheral-controller-firmware
      - protocol
      - telemetry-module-firmware
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
