version: 2

updates:
  - package-ecosystem: github-actions
    directory: "."
    schedule:
      interval: quarterly

  - package-ecosystem: cargo
    directories:
      - firmware/lib/core
      - firmware/cooler
      - firmware/extraction-airflow-sensor-
      - firmware/orchestrator
      - firmware/telemetry-bridge
    schedule:
      interval: quarterly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
