---
name: Diagnostic CLI

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/diagnostic-cli.yml'
      - 'devenv.*'
      - 'protocol/**'
      - 'diagnostic-cli/**'
  pull_request:
    paths:
      - '.github/workflows/diagnostic-cli.yml'
      - 'devenv.*'
      - 'protocol/**'
      - 'diagnostic-cli/**'

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy
        run: |
          set -x
          cd ./diagnostic-cli
          nix develop --command cargo clippy -- -Dwarnings

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - quality

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Build
        run: |
          set -x
          cd ./diagnostic-cli
          nix develop --command cargo build --release
