---
name: Peripheral Controller Firmware

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/peripheral-controller.yml'
      - 'flake.*'
      - 'protocol/**'
      - 'peripheral-controller-firmware/**'
  pull_request:
    paths:
      - '.github/workflows/peripheral-controller.yml'
      - 'flake.*'
      - 'protocol/**'
      - 'peripheral-controller-firmware/**'

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy
        run: |
          set -x
          cd ./peripheral-controller-firmware
          nix develop --command cargo clippy -- -Dwarnings
          # nix develop --command cargo clippy -F trace -- -Dwarnings
          nix develop --command cargo clippy -F panic-probe -- -Dwarnings

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - quality

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Build
        run: |
          set -x
          cd ./peripheral-controller-firmware
          nix develop --command cargo build --release
          # nix develop --command cargo build --release -F trace
          nix develop --command cargo build --release -F panic-probe
