---
name: Protocol

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/protocol.yml'
      - 'devenv.*'
      - 'protocol/**'
  pull_request:
    paths:
      - '.github/workflows/protocol.yml'
      - 'devenv.*'
      - 'protocol/**'

jobs:
  library:
    name: Library
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy
        run: |
          set -x
          cd ./protocol
          nix develop --command cargo clippy -- -Dwarnings

      - name: Tests
        run: |
          set -x
          cd ./protocol
          nix develop --command cargo test

      # Will be built as part of other jobs so no need to do that here.
