---
name: Telemetry Module Firmware

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/telemetry-module-firmware.yml'
      - 'flake.*'
      - 'core/**'
      - 'telemetry-module-firmware/**'
  pull_request:
    paths:
      - '.github/workflows/telemetry-module-firmware.yml'
      - 'flake.*'
      - 'core/**'
      - 'telemetry-module-firmware/**'

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Clippy
        run: |
          set -x
          cd ./telemetry-module-firmware
          nix develop --command cargo clippy -- -Dwarnings

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - quality

    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Build
        run: |
          set -x
          cd ./telemetry-module-firmware
          nix develop --command cargo build --release
          # nix develop --command cargo build --release -F trace
